<h1>please select toppings:</h1>
<center>
<form method = "post" action = "/checkout">

<h3> Select meats:</h3>
 <p><input type ="checkbox" value="pepperoni" name ="topping[]">pepperoni</p>
 <p><input type = "checkbox" value="sausage" name = "topping[]">sausage</p>
 <p><input type = "checkbox" value="bacon" name="topping[]">bacon</p>
 <p><input type = "checkbox" value="ham" name="topping[]">ham</p>
 <p><input type = "checkbox" value="steak" name="topping[]">steak</p>

 <h3>Select cheeses:</h3>
 <p><input type = "checkbox" value="mozzarella" name="topping[]">mozzarella</p>
 <p><input type = "checkbox" value="cheddar" name="topping[]">cheddar</p>
 <p><input type = "checkbox" value="provolone" name="topping[]">provolone</p>
 <p><input type = "checkbox" value="parmesan" name="topping[]">parmesan</p>
 <p><input type = "checkbox" value="pepperjack" name="topping[]">pepperjack</p>

 <h3>Select sauce:</h3>
 <p><input type = "checkbox" value="robust_tomatoe" name="topping[]">robust_tomatoe</p>
 <p><input type = "checkbox" value="marinara" name="topping[]">marinara</p>
 <p><input type = "checkbox" value="alfredo" name="topping[]">alfredo</p>

 <h3>Select crust:</h3>
 <p><input type = "checkbox" value="stuffed" name="topping[]">stuffed</p>
 <p><input type = "checkbox" value="parmesan" name="topping[]">parmesan</p>
 <p><input type = "checkbox" value="spice" name="topping[]">spice</p>


